acvl_utils==0.2.1
antspyx==0.5.4
batchgenerators==0.25.1
batchgeneratorsv2==0.2.3
blosc2==2.5.1
Brotli
certifi
charset-normalizer
connected-components-3d==3.23.0
contourpy==1.3.0
cycler==0.12.1
dicom2nifti==2.5.1
dynamic_network_architectures==0.3.1
einops==0.8.1
fft-conv-pytorch==1.2.0
filelock
fonttools==4.56.0
fsspec==2025.2.0
future==1.0.0
gmpy2
graphviz==0.20.3
idna
imagecodecs==2024.12.30
imageio==2.37.0
importlib_resources==6.5.2
Jinja2
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
linecache2==1.0.0
MarkupSafe
matplotlib==3.9.4
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
msgpack==1.1.0
ndindex==1.9.2
networkx
nibabel==5.3.2
nnunetv2==2.5.2
numpy==1.24.3
packaging==24.2
pandas==2.2.3
patsy==1.0.1
pillow
py-cpuinfo==9.0.0
pydicom==2.4.4
pyparsing==3.2.1
PySocks 
python-dateutil==2.9.0.post0
python-gdcm==3.0.24.1
pytz==2025.1
PyYAML
requests
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
SimpleITK==2.4.1
six==1.17.0
statsmodels==0.14.4
sympy
threadpoolctl==3.5.0
tifffile==2024.8.30
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.67.1
traceback2==1.4.0
triton==2.3.1
typing_extensions
tzdata==2025.1
unittest2==1.1.0
urllib3
webcolors==24.11.1
yacs==0.1.8
zipp==3.21.0
